<nav class="navbar navbar-expand-sm bg-dark navbar-dark my-navbar">
  <a class="navbar-brand my-brand">Logo</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="goHome($event)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="goBlog($event)">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="goUsers($event)">Users</a>
      </li>
    </ul>  
      <app-login></app-login>
  </div>
</nav>
  