<div *ngIf="globals.currentPage=='home'">
  <div class="jumbotron">
      <h1 class="display-3">KataBlog<br />WebSphere + Angular 5</h1>
      <p class="lead">This is a simple code kata to learn how to use IBM WebSphere and Java JPA/EJB/Servlet to create a 
        REST application that can later interact with an Angular 5 frontend. </p>
      <hr class="my-4" />
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://github.com/Kidel/KataBlog-WebSphere" role="button" target="_blank">Learn more</a>
      </p>
  </div>
</div>