<form (submit)="submitLogin($event)" class="form-inline my-2 my-lg-0" role="form" *ngIf="!globals.logged;else welcomeMessage">
	<input type="email" name="email" placeholder="Email" class="form-control mr-sm-2" >
	<input type="password" name="password" placeholder="Password" class="form-control mr-sm-2">
	<input type="submit" value="Login" class="btn btn-primary my-2 my-sm-0">
	<div class="alert alert-danger my-alert" role="alert" *ngIf="statusMessage.length > 0">{{statusMessage}}</div>
</form>

<ng-template #welcomeMessage>
	<div class="navbar-text">
		Welcome!
		<a href="#" (click)="submitLogout($event)" class="navbar-link">Logout</a>
	</div>
</ng-template>
